body{
    font: 20px arial serif;
}
.navbar{
    background-color:#DAF7A6;
}

#quem-somos{
    background-color: lightgray;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: lightblue;
}

.bg-footer{
    background-color: black;
    color: lightblue;
}